html, body {
	width: 100% !important;
	height: 100% !important;
	margin: 0px !important;
	padding: 0px !important;
}

body {
	background-color: #ecf0f5;
	font-size: 14px;
	font-family: Myriad Pro;
}

.all0 {
	margin: 0 !important;
	padding: 0 !important;
}

.full-width {
	width: 100% !important;
}

.center {
	margin: 0 auto !important;
}

.header {
	width: 100%;
	background-color: #3c8dbc;
	color: white;
}

.dark-header {
	background-color: #367fa9;
	width: 100%;
	padding: 12px 0px 12px 0px;
}

.left0 {
	margin-left: 0 !important;
	padding-left: 0 !important;
}

.header-logo {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.header-logo span {
	font-weight: normal;
}

.a-close-sidebar {
    font-size: 18px;
    color: white !important;
    position: relative;
    top: 12px;
}

.ul-header {
	list-style: none;
}

.ul-header li {
	padding: 16px 16px 15px 16px;
    float: left;
}

.ul-header li.dropdown {
	padding-top: 13px;
	padding-bottom: 13px;
}

.ul-header li a {
	color: white;
}

.ul-header li a:hover {
	text-decoration: none;
}

.user-top img {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	float: left;
	margin-right: 8px;
}

.username-top {
	float: left;
	position: relative;
	top: 2px;
}

.ul-header li:hover {
	background-color: #367fa9;
}

.sidebar {
	width: 100%;
	background-color: #222d32;
	min-height: 100%;
}

.wrapper {
	min-height: 100% !important;
	position: relative;
	overflow: hidden;
}

.user-sidebar {
	padding: 10px 0px 10px 10px;
}

.user-sidebar img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	float: left;
	margin-right: 15px;
}

.username-sidebar {
	float: left;
	font-size: 14px;
	font-weight: 500;
	color: white;
}

.username-sidebar span.status {
	position: relative;
	top: 5px;
	font-size: 11px;
	font-weight: normal;
}

span.status i {
	margin-right: 5px;
	font-size: 12px;
}

i.online {
	color: green;
}

.search-sidebar {
	margin-top: 15px;
	padding: 8px 15px 0px 10px;
}

.input-search-sidebar {
	width: 100%;
	background-color: #374850;
	height: 35px;
	color: #666;
	font-size: 14px;
	border: none;
	outline: none;
	box-shadow: none;
	border-radius: 2px;
	padding: 8px;
	padding-right: 34px;
}

.i-search {
	position: absolute;
    right: 0;
    margin-right: 28px;
    margin-top: -27px;
    color: #ccc;
}

.main-navigation {
	margin-top: 14px;
	padding: 12px 10px 12px 10px;
	background-color: #1a2226;
	color: #4b646f;
	font-size: 13px;
}

.ul-sidebar {
	list-style: none;
}

.ul-sidebar li {
	padding: 8px 15px 13px 15px;
}

.ul-sidebar li a {
	color: #b8c7ce;
}

.ul-sidebar li a:hover {
	text-decoration: none;
}

.ul-sidebar li:hover {
	background-color: #1e282c;
	color: white;
	border-left: 3px solid #3c8dbc;
}

.ul-sidebar li i {
	margin-right: 10px;
	font-size: 15px;
}

.page-title {
    margin-top: 15px;
    font-size: 25px;
}

.page-subtitle {
	font-size: 15px;
	color: grey;
	margin-left: 10px;
	font-weight: normal;
}

.dashboard-boxes {
	margin-top: 12px;
}

.dashboard-box {
	width: 100%;
	background-color: white;
	border: 1px solid #E6E6E6;
	border-radius: 3px;
}

.dashboard-border {
	float: left;
	padding: 23px 28px 23px 28px;
	color: white;
	background-color: lightgrey;
	font-size: 27px;
}

.dashboard-box-text {
	float: left;
	padding: 8px;
}

.dashboard-box-text span {
	position: relative;
	top: 3px;
	font-size: 16px;
	font-weight: bold;
}

.color1 {
	background-color: #00c0ef !important;
}

.color2 {
	background-color: #dd4b39 !important;
}

.color3 {
	background-color: #00a65a !important;
}

.color4 {
	background-color: #f39c12 !important;
}

.ul-routing {
	list-style: none;
	margin-top: 25px !important;
	margin-right: 10px !important;
}

.ul-routing li {
	display: inline;
	padding-right: 5px;
}

.ul-routing li a {
	font-size: 13px;
	color: #444;
	text-decoration: none;
}

.ul-routing li i {
	margin-right: 4px;
}

.ul-routing li a:hover {
	text-decoration: none;
}

.ul-routing li.separator {
	color: grey;
	font-size: 10px;
}

.ul-routing li.separator i {
	margin-right: 0;
}

.admin-box {
	width: 100%;
	border-top: 3px solid lightgrey;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 1px 1px 1px lightgrey;
	background-color: white;
	margin-top: 15px;
}

.admin-box .title {
	font-size: 16px;
}

.btn-admin {
	padding: 5px 10px 5px 10px;
	background-color: #3c8dbc;
	color: white;
	border: 1px solid #367fa9;
	border-radius: 0;
	box-shadow: none;
	margin-right: 5px;
}

.btn-admin:hover {
	background-color: #367fa9;
}

.btn-admin i {
	margin-right: 6px;
}

.a-admin-box {
	margin-left: 10px;
	color: #A4A4A4;
	text-decoration: none;
}

.a-admin-box:hover {
	text-decoration: none;
	color: #A4A4A4;
}

.admin-box-title {
	width: 100%;
	padding-bottom: 3px;
	border-bottom: 1px solid #f4f4f4;
}

.border-info {
	border-top-color: #00c0ef;
}

.input-edited {
	width: 100%;
	border: 1px solid lightgrey;
	padding: 5px;
	color: black;
	outline: none;
	box-shadow: none;
	background-color: white;
	border-radius: 0;
}

.textarea-edited {
	width: 100%;
	border: 1px solid lightgrey;
	padding: 5px;
	color: black;
	outline: none;
	box-shadow: none;
	background-color: white;
	border-radius: 0;
}

.form-group {
	margin-top: 14px !important;
}

.image-here {
	width: 200px;
	height: 150px;
	border: 1px solid lightgrey;
	padding: 3px;
	border-radius: 3px;
}

.height-10 {
	height: 10px;
}

.btn-green {
	background-color: #00a65a;
	border-color: #008d4c;
}

.btn-green:hover {
	background-color: #008d4c;
}

.file-browse {
	margin-left: 0px;
    opacity:0.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    position: absolute;
    cursor: pointer;
    margin-top: 0px;
}

input[type='file'] {
	display: inline !important;
}

.btn-select-file {
    width: 78px;
    height: 32px;
    cursor: pointer;
}

.image-here img {
	max-width: 100%;
    max-height: 145px;
}

.hide-class {
	display: none !important;
}

.btn-red {
    background-color: #dd4b39;
    border-color: #d73925;
}

.btn-red:hover {
	background-color: #d73925;
}

.btn-orange {
	background-color: #FAAC58;
	border: 1px solid #FE9A2E; 
}

.btn-orange:hover {
	background-color: #FE9A2E;
}